@media only screen and (max-width:991px)
{
    .chalo1{
        margin-left: 0rem;
    }
    .Chalo{
        margin-left: 0rem;
        margin-top: 0rem;
    }
    .logo{
        
        margin-top: 0rem;
    }

}